on:
  push:
    branches:
      - "main"

name: "Main Branch"

jobs:
  report_mix_deps:
    name: "Report Mix Dependencies"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: erlef/mix-dependency-submission@v1.3.1

  test:
    name: "Test"

    uses: ./.github/workflows/part_test.yml

  docs:
    name: "Docs"

    uses: ./.github/workflows/part_docs.yml

  publish:
    name: "Publish"

    uses: ./.github/workflows/part_publish.yml
